section.section.section--bg.price#price
	.container

		.h2.fsb.section-title.text--center Инвестируйте в свое дизайнерское будущее!
		.course-subtitle.subtitle.t5 Этот курс — идеальный старт для тех, кто мечтает покорить мир моды и создавать настоящие шедевры. Присоединяйтесь и превратите ваши идеи в реальность вместе с нами!

		.price-list
			.price-card
				.price-card__title.text--center.t3.fsb Базовый курс
				.price-card__descr.t6 "Макетирование методом наколки"
				.price-card__cost.t3.fb 620 бел. рублей<br>(200 $)
				.price-card__info
					p 10 видео-уроков в записи для самостоятельного изучения
					p Подробные конспекты к каждому уроку
				.price-card__link
					a(href="#").btn.btn--primary Купить

			.price-card
				.price-card__title.text--center.t3.fsb Продвинутый курс
				.price-card__descr.t6 Изучение метода для профессиональных дизайнеров / 10 модулей
				.price-card__cost.t3.fb 1550 бел.рублей<br>(500$)
				.price-card__info
					p 10 видео-уроков в записи для самостоятельного изучения
					p Подробные конспекты у каждому уроку
					p + 2 индивидуальные консультации Татьяны (онлайн или офлайн на выбор)

				.price-card__link
					a(href="#").btn.btn--primary Купить

			.price-card
				.price-card__title.text--center.t3.fsb VIP-Тариф
				.price-card__descr.t6 Индивидуальное сопровождение
				.price-card__cost.t3.fb 4650 бел.рублей<br>(1500$)
				.price-card__info
					p 10 видео-уроков в записи
					p Подробные конспекты у каждому уроку
					p Индивидуальное сопровождение Татьяной (онлайн или офлайн на выбор)
				.price-card__link
					a(href="#").btn.btn--primary Купить

