include ../components/form-mixin/mixin__checkbox.pug
include ../components/form-mixin/mixin__file.pug
include ../components/form-mixin/mixin__input.pug
include ../components/form-mixin/mixin__radio.pug
include ../components/form-mixin/mixin__rate-group.pug
include ../components/form-mixin/mixin__select.pug
include ../components/form-mixin/mixin__textarea.pug
include ../mixins/icon/mixin__icon.pug
include ../mixins/splide/mixin__splide.pug
