// GRID
//точки смены устройств
$lg: 1400px;
$md: 991.75px;
$sm: 767.75px;
$xs: 600.75px;

// FONTS
$f-size: 16px;

// 400 500 600 700 - основной шрифт
$f-main: "Montserrat", Arial, Verdana, sans-serif;

// COLORS


// MIXINS
@mixin scroll {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ccc;
    background: var(--gray_bg_black);
    border: 1px solid #fff;
    border-color: var(--black_bg_black);
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
  }
}
