.content
	.container
		a(href="/").content-link
			+icon('article-arrow')(style="width:2.4rem;height:2.4rem")
			span На главную
		.h2.t3.fsb.section-title Политика в отношении обработки файлов cookie <br>ООО «Творческая мастерская моды и дизайна»



		.content-block
			h3.t4 1. Общие положения
			p 1.1.  Издание Политики в отношении обработки файлов cookie (далее – Политика) является одной из обязательных принимаемых Обществом с ограниченной ответственностью «Творческая мастерская моды и дизайна» (зарегистрировано 26.05.2023г. в Едином государственном регистре юридическим лиц и индивидуальных предпринимателей Минским горисполкомом за номером 193689494) (далее –Оператор) мер по обеспечению защиты персональных данных, предусмотренных статьей 17 Закона Республики Беларусь от 7 мая 2021 г. № 99 З «О защите персональных данных» (далее – Закон).
			p Настоящая Политика разъясняет пользователям информационного ресурса Оператора  (далее – интернет-сайт), собственником (владельцем) которого является Оператор, как, для каких целей и на каком правовом основании их персональные данные собираются, используются или иным образом обрабатываются.
			p 1.2. Для целей настоящей Политики под файлами cookie понимаются текстовые файлы, сохраняемые в интернет-браузере пользовательского устройства (компьютер, мобильный телефон и т.д.) при посещении интернет-сайтов для отражения и (или) запоминания действий пользователя.
			p Иные термины используются в настоящей Политике в значениях, определенных Законом.
			p 1.3.Оператор имеет право вносить изменения в настоящую Политику. В этом случае обновленная Политика также размещается в открытом доступе на интернет-сайте.
		.content-block
			h3.t4 2. Категории обрабатываемых файлов cookie
			p 2.1. На интернет-сайте обрабатываются следующие категории файлов cookie:
			.table-wrap
				table.table
					thead
						th Категория файлов cookie
						th Цель

					tbody
						tr
							td необходимые
							td корректное функционирование интернет-сайта;<br>использование специальных возможностей для пользователей с ограниченными возможностями

						tr
							td целевые (аналитические, статистические)
							td сбор и последующая обработка аналитической и статистической информации в обобщенном виде
						tr
							td целевые (рекламные)
							td предоставление персонализированных маркетинговых и рекламных предложений


			p 2.2. Данные, которые обрабатываются на интернет-сайте:
			ul

				li IP-адрес, тип браузера и операционной системы устройства;
				li дата и время посещения Сайта;
				li адрес посещаемых страниц Сайта;
				li история поиска и просмотра товаров(услуг) Оператора.
			p 2.3. На сайте обрабатываются следующие типы куки:
			.table-wrap
				table.table
					thead
						th Тип куки
						th Описание

					tbody
						tr
							td сессионные
							td существуют только в оперативной памяти компьютера (мобильного устройства) пока браузер пользователя отображает страницу сайта. Браузеры обычно удаляют сессионные куки после того, как пользователь закрывает окно браузера.
						tr
							td эксплуатационные
							td  используются для того, чтобы: <br>-собирать данные для веб - аналитики, получать статистику работы сайта;<br>-совершенствовать сайт, изучая ошибки в его работе; <br>-тестировать различные интерфейсы сайта.

						tr
							td функциональные
							td используются для того, чтобы: <br>-запоминать настройки, применённые пользователем ранее(например, шаблоны, выбор версии для слабовидящих, выбор языковых предпочтений, размер шрифтов); <br>-запоминать процесс взаимодействия пользователя с определенным компонентом содержимого сайта; <br>-обеспечивать просмотр видеофайлов, размещённых на сайте.

			p 2.4. Сроки хранения куки:
			ul
				li сессионные куки хранятся до окончания сессии пользователя;
				li эксплуатационные куки хранятся до 24 месяцев;
				li функциональные куки хранятся до 12 месяцев;
		content-block
			h3.t4  3. Правовые основания обработки файлов cookie
			p 3.1. Необходимые файлы cookie используются для обеспечения полноценного и корректного функционирования интернет-сайта и обрабатываются независимо от предоставления пользователем согласия.
			p 3.2. Целевые файлы cookie обрабатываются на основании согласия на обработку персональных данных.
			p При первом посещении интернет-сайта пользователю во всплывающем окне предлагается дать согласие на использование файлов cookie либо отказаться от их использования.
			p 3.3. Пользователь может изменить настройки использования файлов cookie, в том числе отозвать ранее предоставленное согласие на их обработку, посредством нажатия кнопки ”Настройка файлов cookie“ в нижней части главной страницы интернет-сайта.


