extends ../../layout/layout

block vars
	- var pageTitle = 'Главная'
	- var pageBodyClass = ''
	- var dir = '/'


block main

	include ../../components/hero-screen/hero
	include ../../components/why/why
	include ../../components/about/about
	include ../../components/reviews/reviews
	include ../../components/price/price

block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()
block componentsScripts
	+componentsScripts-includer()
