+include-script('header')

header.header
	.container
		.header-inner
			a(href="#about").header-menu__item
				span Обо мне
			a(href="#price").header-menu__item
				span Цены
			//-a(href="#").header-menu__item
				span Доборные элементы
			a(href="#faq").header-menu__item
				span Частые вопросы