+include-style('header')
+include-script('header')

//header.header
header.header
	.container
		.header-inner
			a(href="#services").header-menu__item
				span Обо мне
			a(href="#roof").header-menu__item
				span Цены
			//-a(href="#").header-menu__item
				span Доборные элементы
			a(href="#rent").header-menu__item
				span Частые вопросы