+include-style('footer')
+include-script('footer')


footer.footer
	.back-to-top
		<svg role="presentation" class="t-cover__arrow-svg" style="fill:#ffffff;" x="0px" y="0px" width="38.417px" height="18.592px" viewBox="0 0 38.417 18.592"><g><path d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z"></path></g></svg>

	.container
		.footer-inner
			.footer-inner__left
				.footer-top
					p.t5.fsb Авторские права © ООО «Творческая мастерская моды и дизайна»
				.footer-mid
					.footer-mid__info.t6
						p  УНП 193689494
						p  Зарегистрирован Минским городским исполнительным комитетом 26.05.2023,<br> г. Минск, ул.Тростенецкая, д.3, пом.502
						br
						p Время работы: круглосуточно

				
					.footer-links.t6


						a(href="").footer-link
							span Способ оплаты

						a(href="").footer-link
							span Договор оферты
						a(href="").footer-link
							span Политика конфиденциальности
						//a(href="tel:+375333003334").footer-link
						//	+icon('i-phone')(style="width:2.4rem;height:2.4rem")
						//
						//	span +375 29 380-97-36 (А1)
						//a(href="tel:+375333003334").footer-link
						//	+icon('i-phone')(style="width:2.4rem;height:2.4rem")
						//	span +375 33 308-12-44  (МТС)

		.footer-bottom
			.footer-payment
				img(src=PATH + 'images/payment.png' loading='lazy')
